* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#datetime-picker {
  width: 200px;
  height: 25px;
  font-size: 16px;
}
img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}
